<template>
  <div class="hello">

    <router-link :to="{ name: 'home'}">Home</router-link>
    <br>
    <router-link :to="{ name: 'signUp'}">Sign Up</router-link>
    <br>
    <label>
      Username:
      <input name="email" v-model="form.email">
    </label>
    <label>
      Password:
      <input name="password" v-model="form.password">
    </label>
    <button type="submit" @click="handleLogin">Login</button>
  </div>
</template>

<script>
    import {login} from "../util/ApiUtils";
    import {mapActions} from "vuex";

    export default {
        name: "Login",
        data() {
            return {
                form: {
                    email: "laszlo.igaz+local@gmail.com",
                    password: "welkom123"
                }
            }
        },
        methods: {
            ...mapActions(['setToken', 'loadCurrentUser']),
            handleLogin() {
                login(this.form)
                    .then((response) => {
                        this.setToken(response.token);
                        this.loadCurrentUser();
                        this.$router.push({name: 'profile'})
                    })
            }
        }
    }
</script>

<style scoped>

</style>