<template>
  <div class="hello">

    <router-link :to="{ name: 'home'}">Home</router-link>
    <br>
    <button @click="handleLogout">Logout</button>

    <div v-if="user != null">
      Email: {{ user.email }}
      <br>
      Name: {{ user.name }}
      <br>
    </div>
  </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "Profile",
        data() {
            return {
                user: null
            }
        },
        mounted() {
            console.log("asdfadsf")
            console.log(this.getCurrentUser())
            this.user = this.getCurrentUser();
            this.$store.watch(
                state => state.currentUser != null,
                () => {
                    this.user = this.getCurrentUser();
                }
            );
        },

        methods: {
            ...mapActions(['logout']),
            ...mapGetters(['getCurrentUser']),
            handleLogout() {
                this.logout();
                this.$router.push({name: 'home'})
            }
        }
    }
</script>

<style scoped>

</style>