<template>
  <div class="hello">

    <router-link :to="{ name: 'home'}">Home</router-link>
    <br>
    <router-link :to="{ name: 'login'}">Login</router-link>
    <br>
    <label>
      Name:
      <input type="email" name="name" v-model="form.name">
    </label>
    <label>
      E-mail:
      <input type="email" name="email" v-model="form.email">
    </label>
    <label>
      Password:
      <input type="password" name="password" v-model="form.password">
    </label>
    <button type="submit" @click="signUp">SignUp</button>
  </div>
</template>

<script>
    import {signup} from "../util/ApiUtils";

    export default {
        name: "SignUp",
        data() {
            return {
                form: {
                    name: "Name",
                    email: "laszlo.igaz+local@gmail.com",
                    password: "welkom123"
                }
            }
        },
        methods: {
            signUp() {
                signup(this.form)
                    .then(() => {
                        this.$router.push({name: 'login'})
                    });
            }
        }
    }
</script>

<style scoped>

</style>